<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'APP_NAME' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button class="lang-btn" (click)="changeLanguage('ar')">ع</ion-button>
      <ion-button class="lang-btn" (click)="changeLanguage('en')">EN</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <span class="hipster"></span>
  <div>
      <ion-button expand="block" routerLink="/login" id="signIn">{{ 'LOGIN' | translate }}</ion-button>
      <ion-button expand="block" routerLink="/signup">{{ 'SIGNUP' | translate }}</ion-button>
  </div>
</ion-content>
