<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'WELCOME_TITLE' | translate }}, {{account?.firstName}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" id="logout">
        {{ 'LOGOUT_TITLE' | translate }}
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-searchbar [formControl]="searchControl" (ionChange)="onSearchInput()"></ion-searchbar>

    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>{{ 'CATEGORY' | translate }}</ion-label>
          <ion-select id="field_category" interface="popover" [(ngModel)]="category" (ngModelChange)="loadAll()">
              <ion-select-option [value]="null" selected></ion-select-option>
              <ion-select-option [value]="categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
  
      <ion-col size="6">
        <ion-item>
          <ion-label>{{ 'LEVEL' | translate }}</ion-label>
          <ion-select id="field_level" interface="popover" [(ngModel)]="level" (ngModelChange)="loadAll()">
            <ion-select-option [value]="null" selected></ion-select-option>
            <ion-select-option [value]="'BEGINNER'"> {{ 'BEGINNER' | translate }} </ion-select-option>
            <ion-select-option [value]="'INTERMEDIATE'"> {{ 'INTERMEDIATE' | translate }} </ion-select-option>
            <ion-select-option [value]="'ADVANCED'"> {{ 'ADVANCED' | translate }} </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <div class="slides-background" *ngIf="isSlides">
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let course of favoriteCourses">
          <ion-row (click)="view(course)">
            <ion-col size="3">
              <div *ngIf="course.picture">
                <img [src]="'data:' + course.pictureContentType + ';base64,' + course.picture" />
              </div>
            </ion-col>
            <ion-col size="6">
              <ion-text color="light"><h3>{{course.title}}</h3></ion-text>
              <br>
              <ion-label color="light">
                <p>{{course.startDate | date:'mediumDate'}} - {{course.endDate | date:'mediumDate'}}</p>
              </ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-button color="light" fill="clear" (click)="isSlides = false">
                <ion-icon name="close-circle"></ion-icon>
              </ion-button>
              <br>
              <ion-badge>{{course.level | translate}}</ion-badge> <br>
              <ion-badge><h3>$ {{course.price}}</h3></ion-badge>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
    </div>

    <ion-card *ngFor="let course of courses; trackBy: trackId">
        <ion-item (click)="view(course)">
          <ion-label class="ion-text-wrap">
            <div *ngIf="course.picture">
                <img [src]="'data:' + course.pictureContentType + ';base64,' + course.picture" />
            </div>
            <ion-row class="ion-text-center">
              <ion-col  size="8">
                <ion-text color="primary"><h2>{{course.title}}</h2></ion-text>
              </ion-col>
              <ion-col size="4">
                <ion-badge>{{course.level | translate}}</ion-badge> <br>
                <ion-badge>{{course.hours}} {{ 'HOUR' | translate }}</ion-badge>
              </ion-col>
            </ion-row>

            <hr class="rule">

            <ion-row class="ion-text-center">
              <ion-col>
                <p>{{course.subtitle}}</p>
              </ion-col>
            </ion-row>

            <hr class="rule">

            <div class="ion-text-center">
                <ion-badge color="danger"><h2>$ {{course.price}}</h2></ion-badge>
            </div>
            
            <p class="ion-text-center">{{ 'FROM' | translate }} {{course.startDate | date:'mediumDate'}} {{ 'TO' | translate }} {{course.endDate | date:'mediumDate'}}</p>
          </ion-label>
        </ion-item>
    </ion-card>
    <ion-item *ngIf="!courses?.length">
        <ion-label>
            {{ 'NO_COURSES_FOUND' | translate}}
        </ion-label>
    </ion-item>
</ion-content>
